<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Please sign in</title>
  <link href="/default-ui.css" rel="stylesheet">
</head>
<body>
<div class="content">
  <form class="login-form" method="post" action="/login">

    <h2>Please sign in</h2>
    <div class="alert alert-success" role="alert">You have been signed out</div>
    <p>
      <label for="username" class="screenreader">Username</label>
      <input type="text" id="username" name="username" placeholder="Username" required="" autofocus="">
    </p>
    <p>
      <label for="password" class="screenreader">Password</label>
      <input type="password" id="password" name="password" placeholder="Password" required="">
    </p>ss

    <input name="_csrf" type="hidden" value="-lbZBWcI57lJaXSiuwlg_lh_VmqM0Yg30_dS5MO4zSVzLvBmw2bvMFA809pkX0STjyRUnDlIe1O86LAa5ZJl0aaI_ERDHJJV">
    <button type="submit" class="primary">Sign in</button>
    <a href="/register">Sign up</a>

    <!-- Если есть ошибка аутентификации, показываем сообщение -->
    <div th:if="${param.error}">
      <p style="color: red;">Invalid username and password.</p>
    </div>
    <!-- Если пользователь не был аутентифицирован, показываем сообщение -->
    <div th:if="${param.logout}">
      <p>You have been logged out.</p>
    </div>
  </form>

</div>

</body></html>